.App {
  text-align: center;
  background: whitesmoke;
}

.hover:hover {
  text-decoration: underline;
  background: rgba(0, 71, 138, 0.3);;
}

a {
  text-decoration: none;
  color: inherit;
}

#Navbar {
  height: 6vh;
  display: grid;
  grid-template-rows: 6vh;
  grid-template-columns: 20% 60% 20%;
  border-bottom: solid 1px gainsboro;
}

#Navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  /* grid-column-start: 2; */
  grid-column: 2/3;
}

#Navbar .logo img {
  height: 100%;
}

#Navbar>div {
  margin: 5px 20px;
}

#Navbar .nav-links {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40% 30% 30%;
  margin: 0px;
  font-family: 'Questrial';
  font-size: 16px;
}

#Navbar .user-nav-links {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30% 30% 30%;
  margin: 0px;
  font-family: 'Questrial';
  font-size: 16px;
}


#Navbar .user-nav-links .home,
#Navbar .user-nav-links .profile,
#Navbar .user-nav-links .sign-out {
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#Navbar .user-nav-links i {
  display: inline;
}

#Navbar .user-nav-links>div:hover {
  border-bottom: solid steelblue;
  background: rgba(0, 71, 138, 0.3);
}

#Navbar .right {
  justify-content: flex-end;
}

#Navbar .left {
  justify-content: flex-start;
}

#Navbar .icon {
  display: inline;
  margin-right: 5%;
}

#Navbar .login {
  width: 100%;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#Navbar .login i {
  display: inline;
}

#Navbar .login:hover {
  border-bottom: solid steelblue;
  background: rgba(0, 71, 138, 0.3);
}

#Navbar .search {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Questrial';
  font-size: 16px;
  cursor: pointer;
  margin: auto 0px;
}

#Navbar .search-btn {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Questrial';
  font-size: 16px;
  height: 98%;
  width: 30%;
  margin: 0px 0px auto;
}

#Navbar .search-btn:hover {
  border-bottom: solid steelblue;
  background: rgba(0, 71, 138, 0.3);
}

#Navbar .search-btn i {
  margin-right: 2%;
}

/* -------------------------- Navbar search element ------------------------- */
#Navbar-search {
  height: 6vh;
  display: grid;
  grid-template-rows: 6vh;
  grid-template-columns: 90% 5% 5%;
  font-family: 'Questrial';
}

#Navbar-search .search {
  grid-column: 1/2;
  display: flex;
  justify-content: left;
  align-items: center;
}

#Navbar-search .search input {
  font-size: 16px;
  margin-left: 2%;
  width: 100%;
  height: 90%;
  border: none;
  -webkit-appearance: none;
}

#Navbar-search .search input::placeholder {
  font-family: 'Questrial';
  font-size: 16px;
}

#Navbar-search .search input:focus {
  outline: none;
  border-bottom: steelblue solid;
}

#Navbar-search .filter {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: underline;
  font-weight: 900;
  cursor: pointer;
}

#Navbar-search .filter:hover {
  border-bottom: solid steelblue;
  background: rgba(0, 71, 138, 0.3);
}

#Navbar-search .exit {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

#banner {
  height: 20vh;
}

#banner .banner-img {
  background-image: url('./images/home-page1.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-text {
  font-family: 'Archivo Black';
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  border: solid 5px white; 
  max-width: 300px;
  max-height: 200px;
  padding: 20px 40px;
}

#search-bar {
  margin-top: 2%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: steelblue;
}

#search-bar .text {
  font-size: 20px;
  font-family: 'Archivo Black';
  margin-right: 3%;
}

#search-bar input {
  height: 80%;
  width: 50%;
  font-size: 20px;
  font-family: 'Questrial';
}

#search-bar input::placeholder {
  font-size: 20px;
  font-family: 'Questrial';
}

#search-bar input:focus {
  outline: none;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px steelblue;
}

#attractions {
  display: flex;
  justify-content: center;
}

#attraction-cont {
  margin: 2% 10%;
  max-width: 180vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-rows: auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  margin-bottom: 5%;
}

#attraction-cont a {
  z-index: 2;
  background: white;
}

.attraction-card {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  /* border: solid 1vh #18128e; */
}

.attraction-card figure {
  width: 100%;
  max-height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* --------------- card affect properties ---------------- */

.attraction-card figure img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.32);
  transform: scale(1.32);
}

.attraction-card figure.attr-content figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}


.attraction-card figure figcaption h2 {
  font-family: 'Archivo Black';
  font-size: 20px;
  color: white;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.attraction-card figure figcaption p i {
  margin-right: 0.2em;
}

figure.attr-content figcaption::before,
figure.attr-content p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.attr-content p {
  font-family: 'Archivo Black';
  font-size: 16px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.attr-content:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.attr-content:hover figcaption::before,
figure.attr-content:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.attraction-card .content {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-family: 'Questrial';
  text-align: left;
  padding: 10px;
  line-height: 20px;
  padding-bottom: 3vh;
}

#attraction-show {
  font-family: 'Questrial';
  display: flex;
  justify-content: center;
  border-bottom: solid 1px gainsboro;
  padding-bottom: 1.5%;
  height: 75vh;
  width: 100vw;
}

#attraction-show .attr-row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 5%;
  grid-column-gap: 5%;
  align-items: center;
  margin: 0px 5%;
  text-align: left;
  line-height: 2.5vh;
  width: -webkit-fill-available;
}

#attraction-show .attraction-img img {
  width: 100%;
  border: solid 6px steelblue;
}

#attraction-show .address {
  margin-top: 20px;
  font-weight: 600;
}

.attr-content .heading {
  font-family: 'Archivo Black';
  font-size: 24git apx;
  margin: 0px 0px 20px;
}

#show-page .attr-row2 {
  display: grid;
  grid-template-columns: 10% repeat(2, 1fr) 5%;
  grid-column-gap: 5%;
  align-items: center;
  margin: 0px 5%;
  height: 50vh;
  width: 100%;
}

#show-page {
  display: grid;
  justify-content: center;
  max-width: 240vh;
  margin: 0px auto;
}

.dis-cat.list {
  display: grid;
  grid-template-rows: 25% repeat(4, 1fr) 25%;
  grid-column: 1/2;
  height: 100%;
  font-weight: 800;
  font-family: 'Questrial'
} 

.dis-cat div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dis-cat.one {
  grid-row-start: 2;
  grid-row-end: 3; 
}

.dis-cat.two {
  grid-row-start: 3;
  grid-row-end: 4; 
}

.dis-cat.three {
  grid-row-start: 4;
  grid-row-end: 5; 
}

.dis-cat.four {
  grid-row-start: 5;
  grid-row-end: 6; 
}

.dis-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6; 
  height: 50vh;
  overflow-y: scroll;
  font-family: 'Questrial';
  display: flex;
  align-items: center;
  text-align: left;
}

.dis-info .access-details,
.dis-info .fac-details,
.dis-info .accom-details {
  background: white;
  padding: 5%;
  border-radius: 10px;
}

#attraction-map .gmnoprint {
  display: none;
}

#attraction-map {
  grid-column: 3/4;
}

#attraction-map a {
  display: none;
}

.station-list {
  width: 100%;
}

.station-list .station-el {
  display: flex;
  justify-content: center;
  align-content: center;  
  height: 5vh;
  cursor: pointer;
  width: inherit;
}

.station-list .station-el i {
  margin-left: 5%;
  color: steelblue;
}

.station-list .station-el .station-name {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.station-list .station-el .station-dist {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

#stop-information {
  margin-top: 15px;
  text-align: left;
}

#station-information {
  padding: 10px 5%;
}

#station-information .accessibility {
  margin-bottom: 15px;
}

#station-information .facilities {
  margin-bottom: 15px;
}

#station-information .transport {
  margin-bottom: 15px;
}

#station-info {
  background: white;
  margin-bottom: 2%;
  width: inherit;
}

#review {
  margin: 0px auto;
  display: grid;
  width: 60%;
  grid-column: 2/3;
  height: 70vh;
  overflow-y: scroll;
}

#review .review-list {
  margin: auto;
  display: grid;
  justify-content: center;
  width: 100%;
  grid-row-gap: 2vh;
  overflow-y: scroll;
}

#review .review-list .card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(4, auto);
  height: 15vh;
  background: white;
  border-radius: 10px;
}

#review .card .left {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-items: center;
  
}

#review .card .right {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: left;
  padding: 0px 15px;
}

#review .card .top {
  grid-row-start: 1;
  grid-row-end: 2;
}

#review .card .middle {
  grid-row-start: 2;
  grid-row-end: 3;
}


#review .card .bottom {
  grid-row-start: 3;
  grid-row-end: 4;
}


#review .card .username {
  grid-row-start: 3;
  grid-row-end: 5;
  font-size: 12px;
}

#review .card .like-btn i {
  color: steelblue;
  margin: 0px 2%;
}

#review .card .like-btn {
  font-size: 12px;
}

#review .card .like-btn button {
  margin: 0px 5%;
  width: 30%;
  cursor: pointer;
}

#review .card .comment {
  grid-row-start: 2;
  grid-row-end: 4;
  align-items: start;
}

#review .card .like-btn {
  grid-row-start: 4;
  grid-row-end: 5;
}

#review .card .likes i {
  color: steelblue;
  margin-right: 4%;
}

#review .card div {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

#review .rating i {
  color: steelblue;
  margin: 0px 2px;
  -webkit-text-stroke-width: 0.7px;
}

#review .card .title {
  font-family: 'Archivo Black';
  font-size: 20px;
}

.attr-row3 {
  display: flex;
  justify-content: center;
}

#review-form {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Questrial';
  font-size: 16px;
  letter-spacing: 0.2em;
  margin: auto;
}

#review-form form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5vh 10vh 5vh;
  width: 95%;
  grid-row-gap: 20%;
}

#review-form .top {
  grid-row-start: 1;
  grid-row-end: 2;
}

#review-form .title {
  grid-column-start: 1;
  grid-column-end: 2;
}

#review-form .comment, #review-form .rating, #review-form .title {
  border: solid 2px gainsboro;
  background: white;
}

#review-form .rating {
  grid-column-start: 2;
  grid-column-end: 3; 
  border-left: none;
}

#review-form .comment {
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 2;
  grid-row-end: 3;
}

#review-form .submit {
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 3;
  grid-row-end: 4;
  background: steelblue;
  border-radius: 4%;
  cursor: pointer;
}

#review-form .submit input {
  background: inherit;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.2em;
}

#review-form input {
  border: none;
  width: 99.2%;
  height: 95%;
  font-family: 'Questrial';
  font-size: 16px;
  margin: 0px auto;
  background: none;
}

#review-form .comment input {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
}

#review-form input::placeholder {
  font-family: 'Questrial';
  font-size: 16px;
  letter-spacing: 0.2em;
}

#review-form input:focus {
  outline: none;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px steelblue;
} 

/* -----------------------  Login Page -------------------------- */

#login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

#login div {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
}

#login .error-message,
#create .error-message {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  color: red;
}

#login .signup-image {
  background-image: url(./images/loginImg.jpg);
  background-size: cover;
  border-right: solid 4px black;
  grid-column-start: 1;
  grid-column-end: 2;
}

#login .signup-form {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 25% 5% 30% 25%;
  background: whitesmoke;
}

#login .center-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login .center-logo .logo {
  z-index: 2;
  border: solid 4px black;
  background: white;
  border-radius: 8px;
  max-height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .signup-form .logo,
#create .create-form .logo {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login .signup-form .logo img,
#create .create-form .logo img {
  width: 40%;
}

#login .signup-form form {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 5vh 6vh;
  grid-row-gap: 15%;
  margin: 0px auto;
}

#login .signup-form input {
  border: none;
  width: 100%;
  height: 95%;
  font-size: 20px;
  font-family: 'Questrial';
  padding-left: 2vh;
}

#login .signup-form input::placeholder {
  font-size: 20px;
  font-family: 'Questrial';
  /* padding-left: 2vh; */
}

#login .signup-form input:focus {
  outline: none;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px steelblue;
}

#login .signup-form form .middle{
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#login .signup-form form .username{
  grid-column-start: 1;
  grid-column-end: 2;
}

#login .signup-form form .password{
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: none;
}

#login .signup-form form .title{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial';
  font-size: 24px;
  letter-spacing: 1px;
}

#login .signup-form form .submit{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: steelblue;
  border-radius: 5px;
}

#login .signup-form form .submit input{
  background: inherit;
  font-family: 'Questrial';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

#login .ca-link {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  font-size: 18px;
}

#login .ca-link a:hover {
  color: grey;
  text-decoration-line: underline;
}

/* -----------------------  Create Account Page -------------------------- */

#create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

#create div {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
}

#create .create-image {
  background-image: url(./images/createImg2.jpg);
  background-size: cover;
  border-left: solid 4px black;
  grid-column-start: 2;
  grid-column-end: 3;
}

#create .create-form {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

#create .center-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#create .center-logo .logo {
  z-index: 2;
  border: solid 4px black;
  background: white;
  border-radius: 8px;
  max-height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create .create-form {
  display: grid;
  grid-template-rows: 25% 5% 40% 15%;
  /* background: azure; */
  align-items: start;
}

#create .create-form form {
  grid-row-start: 3;
  grid-row-end: 4;
  width: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 5vh 5vh 5vh 6vh;
  grid-row-gap: 10%;
  margin: 0px auto;
}

#create .create-form input {
  border: none;
  width: 100%;
  height: 95%;
  font-size: 20px;
  font-family: 'Questrial';
  padding-left: 2vh;
}

#create .create-form input::placeholder {
  font-size: 20px;
  font-family: 'Questrial';
}

#create .create-form form .title{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial';
  font-size: 24px;
  letter-spacing: 1px;
}

#create .create-form form .row2{
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .row3{
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .left{
  grid-column-start: 1;
  grid-column-end: 2;
}

#create .create-form form .right{
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: none;
}

#create .create-form form .email{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .submit{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: steelblue;
  border-radius: 5px;

}

#create .create-form .error-message {
  align-items: start;
}

#create .create-form form .submit input{
  background: inherit;
  font-family: 'Questrial';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

#create .create-form input:focus {
  outline: none;
  border: 2px solid steelblue;
  box-shadow: 0 0 10px steelblue;
}

#create .ca-link {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  font-size: 18px;
}

#create .ca-link a:hover {
  color: grey;
  text-decoration-line: underline;
  background: rgba(0, 71, 138, 0.3);
}


/* ------------------------- show page css design ----------------------- */

#accessibility {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid gainsboro 1px;
}

#side-nav {
  height: 60vh;
  font-family: 'Questrial';
  display: grid;
  grid-template-rows: 20% repeat(3, 20%) 20%;
  list-style: circle;
  font-size: 14px;
  font-weight: bolder;
}

.attr-row1 #side-nav {
  grid-column: 3/4;
}

.attr-row2 #side-nav {
  grid-column: 4/5;
}

.attr-row3 #side-nav {
  grid-column: 3/4;
}

#side-nav .about {
  grid-row: 2/3;
  align-items: start;
}

#side-nav .access {
  grid-row: 3/4;
  align-items: center;
}

#side-nav .reviews {
  grid-row: 4/5;
  align-items: flex-end;
}

#side-nav div {
  display: flex;
  justify-content: right;
  border-left: solid 1px gainsboro;
  padding-left: 10%;
}

#side-nav .hover {
  border-left: none;
  cursor: pointer;
  width: fit-content;
  padding: 10%;
}

#attraction-show #side-nav .about {
  display: list-item;
}

#accessibility #side-nav .access {
  padding-top: 40%;
  display: list-item;
  text-align: left;
}

#review-cont #side-nav .reviews {
  display: list-item;
  text-align: left;
  padding-top: 85%;
}

#review-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 0%;
}

.attr-row3 {
  display: grid;
  grid-column-gap: 5%;
  align-items: center;
  margin: 0px 5%;
  width: 100%;
  grid-template-columns: 10% 75% 5%;
  grid-template-rows: auto;
  height: 80vh;
}

#review-cont .review-cat {
  display: grid;
  grid-template-rows: auto repeat(2, 10%) auto;
  height: 100%;
}

#review-cont .review-cat div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Questrial';
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

#review-cont .review-cat .one {
  grid-row: 2/3;
}

#review-cont .review-cat .form {
  grid-row: 3/4;
}

input::placeholder:hover {
  text-decoration: underline;
}

/* ---------------------  error message ------------------------ */
.non-user .review-list {
  z-index: -2;
  position: relative;
}

