.App {
  text-align: center;
}

/* div {
  border: solid 0.3px black;
} */

a {
  text-decoration: none;
  color: inherit;
}

#Navbar {
  max-height: 7vh;
  display: flex;
}

#Navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Navbar>div {
  margin: 5px 20px;
}

#Navbar .nav-links {
  width: 100%;
  display: flex;
}

#Navbar .right {
  justify-content: flex-end;
}

#Navbar .left {
  justify-content: flex-start;
}

#Navbar .nav-link {
  /* margin: 0 0px; */
  border-left: solid 2px lightgray;
  padding: 0px 40px;
}

#banner {
  height: 20vh;
}

#banner .banner-img {
  background-image: url('./images/home-page1.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .banner-text {
  font-family: 'Archivo Black';
  font-weight: bolder;
  font-size: xx-large;
  color: white;
  border: solid 5px white; 
  max-width: 300px;
  max-height: 200px;
  padding: 20px 40px;
}

#search-bar {
  margin-top: 2%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar .text {
  font-size: 20px;
  font-family: 'Archivo Black';
  margin-right: 3%;
}

#search-bar input {
  height: 80%;
  width: 50%;
}

#attractions {
  display: flex;
  justify-content: center;
}

#attraction-cont {
  margin: 2% 10%;
  max-width: 180vh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-template-rows: auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  margin-bottom: 5%;
}

#attraction-cont a {
  z-index: 2;
  background: white;
}

.attraction-card {
  position: relative;
  float: left;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.attraction-card figure {
  width: 100%;
  max-height: 28vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

/* --------------- card affect properties ---------------- */

.attraction-card figure img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.22);
  transform: scale(1.22);
}

.attraction-card figure.attr-content figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}


.attraction-card figure figcaption h2 {
  font-family: 'Archivo Black';
  font-size: 20px;
  color: white;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.attraction-card figure figcaption p i {
  margin-right: 0.2em;
}

figure.attr-content figcaption::before,
figure.attr-content p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.attr-content p {
  font-family: 'Archivo Black';
  font-size: 16px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.attr-content:hover h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.attr-content:hover figcaption::before,
figure.attr-content:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.attraction-card .content {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-family: 'Questrial';
  text-align: left;
  padding: 10px;
  line-height: 20px;
  padding-bottom: 3vh;
}

#attraction-show {
  font-family: 'Questrial';
  margin: 1.5% 0%;
  display: flex;
  justify-content: center;
}

#attraction-show .attr-row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10%;
  align-items: center;
  margin: 0px 5%;
}

#attraction-show .attraction-img img {
  width: 100%;
}

#attraction-show .address {
  margin-top: 20px;
  font-weight: 600;
}

.attr-content .heading {
  font-family: 'Archivo Black';
  font-size: 20px;
  margin: 0px 0px 20px;
}

#show-page .attr-row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5%;
  align-items: center;
  margin: 0px 2.5%;
  height: 50vh;
}

#show-page .disabled-container {
  font-family: 'Questrial';
  justify-content: center;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 60% auto;
}

#show-page {
  display: grid;
  justify-content: center;
  max-width: 180vh;
  margin: 0px auto;
}

.disabled-container .dis-cat {
  font-family: 'Archivo Black';
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  align-items: center;
  height: 100%;
}

.disabled-container .dis-cat.list {
  display: grid;
}

.disabled-container .dis-cat.1 {
  grid-row-start: 1;
  grid-row-end: 2; 
}

.disabled-container .dis-cat.2 {
  grid-row-start: 2;
  grid-row-end: 3; 
}

.disabled-container .dis-cat.3 {
  grid-row-start: 3;
  grid-row-end: 4; 
}

.disabled-container .dis-cat.4 {
  grid-row-start: 4;
  grid-row-end: 5; 
}

.disabled-container .dis-info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6; 
  height: 50vh;
  overflow-y: scroll;
}

#attraction-map .gmnoprint {
  display: none;
}

#attraction-map a {
  display: none;
}

.station-list .station-el {
  display: flex;
  justify-content: center;
  align-content: center;  
  height: 5vh;
  cursor: pointer;
}

.station-list .station-el .station-name {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.station-list .station-el .station-dist {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

#stop-information {
  margin-top: 15px;
  text-align: left;
}

#station-information {
  padding: 10px;
}

#station-information .accessibility {
  margin-bottom: 15px;
}

#station-information .facilities {
  margin-bottom: 15px;
}

#station-information .transport {
  margin-bottom: 15px;
}

.seperator {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 100%;
  margin: 40px 0px 20px 0px;
}

.seperator .line {
  display: flex;
  align-items: center;
  width: 100%;
}

.seperator .line hr {
  border:  2px solid black;
  width: 100%;
}

.seperator .textbox {
  width: 100%;
}

.seperator .textbox .text {
  font-family: 'Archivo Black';
  background-color: white;
  margin: 0px auto;
  padding: 0px 10px;
  text-align: center;
  display: inline;
  font-size: 20px;
}

#review {
  margin: 50px 0px 30px;
  display: grid;
  width: 60%;
}

#review .review-list {
  margin-top: 2%;
  display: grid;
  justify-content: center;
  width: 100%;
  grid-row-gap: 2vh;
}

#review .review-list .card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.3fr;
  grid-template-rows: repeat(2, auto);
}

#review .card .left {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: center;
  align-items: center;
  
}

#review .card .right {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: left;
  padding: 0px 15px;
}

#review .card .top {
  grid-row-start: 1;
  grid-row-end: 2;
}

#review .card .bottom {
  grid-row-start: 2;
  grid-row-end: 3;
}


#review .card div {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}

#review .rating i {
  color: steelblue;
  margin: 0px 2px;
  -webkit-text-stroke-width: 0.7px;
}

#review .card .title {
  font-family: 'Archivo Black';
  font-size: 20px;
}

#review .review-header {
  display: flex;
  width: 100%;
  border-bottom: solid 2px slategrey
}

.attr-row3 {
  display: flex;
  justify-content: center;
}

#review .review-header div {
  font-family: 'Archivo Black';
  padding: 0px 50px 10px 50px;
}

#review .review-header div:hover {
  border-bottom: solid 3px orange;
  z-index: 2;
  cursor: pointer;
}

#review-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#review-form form {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  width: 95%;
}

#review-form .top {
  grid-row-start: 1;
  grid-row-end: 2;
}

#review-form .title {
  grid-column-start: 1;
  grid-column-end: 2;
}

#review-form .rating {
  grid-column-start: 2;
  grid-column-end: 3; 
}

#review-form .comment {
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 2;
  grid-row-end: 3;
}

#review-form .comment input {
  width: 95%;
}

#review-form .submit {
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 3;
  grid-row-end: 4;
}

/* -----------------------  Login Page -------------------------- */

#login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

#login div {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
}

.error-message {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  color: red;
}

#login .signup-image {
  background-image: url(./images/loginImg.jpg);
  background-size: cover;
  border-right: solid 4px black;
  grid-column-start: 1;
  grid-column-end: 2;
}

#login .signup-form {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 30% 30% 25%;
  background: azure
}

#login .center-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login .center-logo .logo {
  z-index: 2;
  border: solid 4px black;
  background: azure;
  border-radius: 8px;
  max-height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login .signup-form form {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 5vh 6vh;
  grid-row-gap: 15%;
}

#login .signup-form input {
  border: none;
  width: 100%;
  height: 95%;
  font-size: 20px;
  font-family: 'Questrial';
  padding-left: 2vh;
}

#login .signup-form input::placeholder {
  font-size: 20px;
  font-family: 'Questrial';
  /* padding-left: 2vh; */
}

#login .signup-form input:focus {
  outline: none;
  border: 3px solid antiquewhite;
  box-shadow: 0 0 20px antiquewhite;
}

#login .signup-form form .middle{
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#login .signup-form form .username{
  grid-column-start: 1;
  grid-column-end: 2;
}

#login .signup-form form .password{
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: none;
}

#login .signup-form form .title{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial';
  font-size: 24px;
  letter-spacing: 1px;
}

#login .signup-form form .submit{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  background: antiquewhite;
  border-radius: 5px;
}

#login .signup-form form .submit input{
  background: inherit;
  font-family: 'Questrial';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

#login .ca-link {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  font-size: 18px;
}

#login .ca-link a:hover {
  color: grey;
  text-decoration-line: underline;
}

/* -----------------------  Create Account Page -------------------------- */

#create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
}

#create div {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
}

#create .create-image {
  background-image: url(./images/createImg2.jpg);
  background-size: cover;
  border-left: solid 4px black;
  grid-column-start: 2;
  grid-column-end: 3;
}

#create .create-form {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create .center-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#create .center-logo .logo {
  z-index: 2;
  border: solid 4px black;
  background: azure;
  border-radius: 8px;
  max-height: 10vh;
  width: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create .create-form {
  display: grid;
  grid-template-rows: 18% 50% 15%;
  background: azure;
}

#create .create-form form {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 5vh 5vh 5vh 6vh;
  grid-row-gap: 10%;
}

#create .create-form input {
  border: none;
  width: 100%;
  height: 95%;
  font-size: 20px;
  font-family: 'Questrial';
  padding-left: 2vh;
}

#create .create-form input::placeholder {
  font-size: 20px;
  font-family: 'Questrial';
}

#create .create-form form .title{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial';
  font-size: 24px;
  letter-spacing: 1px;
}

#create .create-form form .row2{
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .row3{
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .left{
  grid-column-start: 1;
  grid-column-end: 2;
}

#create .create-form form .right{
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: none;
}

#create .create-form form .email{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gainsboro;
}

#create .create-form form .submit{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background: antiquewhite;
  border-radius: 5px;
}

#create .create-form form .submit input{
  background: inherit;
  font-family: 'Questrial';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

#create .create-form input:focus {
  outline: none;
  border: 3px solid antiquewhite;
  box-shadow: 0 0 20px antiquewhite;
}

#create .ca-link {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: 'Questrial';
  font-size: 18px;
}

#create .ca-link a:hover {
  color: grey;
  text-decoration-line: underline;
}
